body {
  background: rgba(250, 250, 154, 0.726);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin: auto 20px;
}

img {
  width: 50%;
  height: 400px;
}
ul {
  list-style-position: inside;
  text-align: left;
}
ol {
  list-style-position: inside;
  text-align: justify;
}
ul,
ol {
  margin: auto;
}
#recipes {
  text-align: center;
}
h3 {
  text-align: justify;
}
a {
  text-decoration: none;
  font-weight: bold;
}
